<nav
    class="border-b-2 border-gray-400 flex flex-wrap items-center justify-between p-3"
>
    <div id="logo-section">
        <img
            src="{{'assets/images/svg/fruitmall.svg'|theme}}"
            class="h-8 w-8 mr-2 inline"
            alt=""
        />
        <span class="hidden md:inline text-left font-display text-secondary"
            >FruitMall</span
        >
    </div>
    <input
        type="search"
        class="appearance-none border border-gray-300 rounded-lg px-2 py-1 w-40 focus:outline-none focus:shadow-outline md:w-1/2"
        placeholder="Search organic.."
        aria-label="Search"
        autofocus
    />
    <div class="float-right flex">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ml-2 fill-current text-gray-700"
            viewBox="0 0 24 24"
            width="24"
            height="24"
        >
            <path
                class="heroicon-ui"
                d="M12 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v2z"
            />
        </svg>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ml-2 fill-current text-gray-700"
            viewBox="0 0 24 24"
            width="24"
            height="24"
        >
            <path
                class="heroicon-ui"
                d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"
            />
        </svg>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ml-2 fill-current text-gray-700"
            viewBox="0 0 24 24"
            width="24"
            height="24"
        >
            <path
                class="heroicon-ui"
                d="M17 16a3 3 0 1 1-2.83 2H9.83a3 3 0 1 1-5.62-.1A3 3 0 0 1 5 12V4H3a1 1 0 1 1 0-2h3a1 1 0 0 1 1 1v1h14a1 1 0 0 1 .9 1.45l-4 8a1 1 0 0 1-.9.55H5a1 1 0 0 0 0 2h12zM7 12h9.38l3-6H7v6zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
            />
        </svg>
    </div>
</nav>
